/* GENERAL */

* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  font: 14px sans-serif;
  color: #323232;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}



.hero {
  background-size: cover;
  height: 600px;
  width: 100%;
  text-align: center;
  padding-top: 200px;
  &.layout-1 {
    background-image: url('https://source.unsplash.com/category/nature/1400x700');
  }
  &.layout-2 {
    background-image: url('https://source.unsplash.com/category/technology/1400x700');
  }
  &.layout-3 {
    background-image: url('https://source.unsplash.com/category/buildings/1400x700');
  }
}

.hero__title {
  color: #eeeeee;
  background-color: rgba(0,0,0,0.6);
  display: inline-block;
  padding: 30px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.services {
  display: flex;
  text-align: center;
  flex-basis: 1;
  justify-content: space-between;
}

.service--text {
  font-size: 30px;
}

i.service--icon {
  font-size: 48px;
}


