<div id="layout-3">
  <div class="hero" style="background-image: url('https://source.unsplash.com/category/nature/1500x900');">
    <h2 class="tagline">Lorem ipsum dolor sit amet</h2>
    <h1 class="title">Eiusmod</h1>

    <nav>
      <ul class="nav">
        <li class="nav__item">
          <a class="nav__link" href="#">Aliqua</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="#">Laboris</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="#">Ullamco</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="scroll-down-arrow">
    <i class="fa fa-caret-down"></i>
  </div>

  <div class="row col-2">
    
    <div class="col">
      <img class="img" src="https://source.unsplash.com/category/nature/700x700" />
    </div>

    <div class="col service">
      <h3 class="service__title">Selling</h3>
      <p class="service__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>

  </div>



  <div class="row review">
    <p class="review__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
    <p class="review__author">John Smith</p>
    <p class="review__company">Exodus Co.</p>
  </div>

  <div class="row col-2">

    <div class="col service">
      <h3 class="service__title">Learning</h3>
      <p class="service__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>

    <div class="col">
      <img class="img" src="https://source.unsplash.com/category/nature/700x700" />
    </div>

  </div>


  <div class="row team">
    <div class="member">
      <img class="member__img" src="" />
      <h5 class="member__name"></h5>
      <p class="member__job"></p>
    </div>

    <div class="member">
      <img class="member__img" src="" />
      <h5 class="member__name"></h5>
      <p class="member__job"></p>
    </div>

    <div class="member">
      <img class="member__img" src="" />
      <h5 class="member__name"></h5>
      <p class="member__job"></p>
    </div>

    <div class="member">
      <img class="member__img" src="" />
      <h5 class="member__name"></h5>
      <p class="member__job"></p>
    </div>

    <div class="member">
      <img class="member__img" src="" />
      <h5 class="member__name"></h5>
      <p class="member__job"></p>
    </div>

  </div>


  <div class="row col-2">
    
    <div class="col service">
      <h3 class="service__title">Giving</h3>
      <p class="service__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>

    <div class="col">
      <img class="img" src="https://source.unsplash.com/category/nature/700x700" />
    </div>

  </div>



</div>